<div class="sidebar">
    <div class="gadget">
        <h2 class="star"><span>AISEDA</span> Jurnalı</h2>
        <ul class="sb_menu">
            <li><a href="#">Editorial Board</a></li>
            <li><a href="#">Advisory Board</a></li>
            <li><a href="#">Abstracting / Indexing</a></li>
            <li><a href="#">Author Guidelines</a></li>
            <li><a href="#">Manustcript Template</a></li>
            <li><a href="#">Notes to Contributors</a></li>
            <li><a href="#">Notes to Editorials</a></li>
            <li><a href="#">Open Access Policy</a></li>
            <li><a href="#">Publication Ethics & Malpractice Statement</a></li>
            <li><a href="#">Peer Review Process</a></li>
            <li><a href="#">Submit Your Article</a></li>
        </ul>
    </div>
    <div class="gadget">
        <h2 class="star"><span>ARTICLE STATISTICS</span></h2>
        <ul class="ex_menu">
            <li>Article Published: {{ published }}</li>
        </ul>
    </div>
</div>