{% extends 'base.html' %}
{% load static %}
{% block title %} Əsas səhifə {% endblock %}
{% block content %}

    <div class="content">
        <div class="content_resize">
            <div class="mainbar">
                <div class="article">
                    <h2><span>{{ volumes.title }}</span></h2>
                    <p><a href="{{ volumes.contents.url }}">Mündəricat</a></p>

                    <ul class="sb_menu">
                        {% for article in articles %}
                            <h4>{{ article.author }}</h4>
                            <li style="width: 100%;"><a href="{{ article.file.url }}"><strong>{{ article.title }}</strong></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% include '_sidebar.html' %}
            <div class="clr"></div>
        </div>
    </div>

{% endblock %}