{% extends 'base.html' %}
{% load static %}
{% block title %} Əsas səhifə {% endblock %}
{% block content %}

    <div class="content">
        <div class="content_resize">
            <div class="mainbar">
                <div class="article">
                    <ul class="sb_menu">
                        {% for article in articles %}
                            <h4>{{ article.author }}</h4>
                            <li style="width: 100%;"><a href="{{ article.file.url }}"><strong>{{ article.title }}</strong></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="sidebar">
                <div class="gadget">
                    <h2 class="star"><span>Sidebar</span> Menu</h2>
                    <ul class="sb_menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">TemplateInfo</a></li>
                        <li><a href="#">Style Demo</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Archives</a></li>
                        <li><a href="#">Website Templates</a></li>
                    </ul>
                </div>
                <div class="gadget">
                    <h2 class="star"><span>Sponsors</span></h2>
                    <ul class="ex_menu">
                        <li><a href="#">DreamTemplate</a><br/>
                            Over 6,000+ Premium Web Templates
                        </li>
                        <li><a href="#">TemplateSOLD</a><br/>
                            Premium WordPress &amp; Joomla Themes
                        </li>
                        <li><a href="#">ImHosted.com</a><br/>
                            Affordable Web Hosting Provider
                        </li>
                        <li><a href="#">DreamStock</a><br/>
                            Download Amazing Stock Photos
                        </li>
                        <li><a href="#">Evrsoft</a><br/>
                            Website Builder Software &amp; Tools
                        </li>
                        <li><a href="#">MyVectorStore</a><br/>
                            Royalty Free Stock Icons
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>

{% endblock %}